//Custom foundation overrides for the landing page

/* IMPORT TRUE CUSTOM FONTS */
@font-face {
font-family: 'True Bold';
src: url('../fonts/TrueBold.eot');
src: url("../fonts/TrueBold.woff") format("woff"),
url('../fonts/TrueBold.svg#CrewniverseRegular') format('svg');
}

@font-face {
font-family: 'True Bold Special';
src: url('../fonts/TrueBoldSpecial.eot');
src: url("../fonts/TrueBoldSpecial.woff") format("woff"),
url('../fonts/TrueBoldSpecial#CrewniverseRegular') format('svg');
}

@font-face {
font-family: 'True Medium';
src: url('../fonts/TrueMedium.eot');
src: url("../fonts/TrueMedium.woff") format("woff"),
url('../fonts/TrueMedium#CrewniverseRegular') format('svg');
}

@font-face {
font-family: 'True Light';
src: url('../fonts/TrueLight.eot');
src: url("../fonts/TrueLight.woff") format("woff"),
url('../fonts/TrueLight.svg#CrewniverseRegular') format('svg');
}

/* TYPOGRAPHY */
h1 {
    font-size: 1.55rem;
    line-height: 48px;
}
h2 {
    font-size: 1.45rem;
    line-height: 48px;
}
h3{
    font-size: 1.25rem;
    line-height: 38px;
}
em {
    color: #fff;
    font-size: 0.9rem
}

/* HEADER */
.top-bar {
   .top-bar-left {
        flex: 0 0 auto;
    }
   .top-bar-right {
       flex: 0 0 auto;
} 
}
.site-logo {
    padding: 10px 0px;
    img {
      width: 150px;
      height: auto;
    }    
}
.menu a {
    padding: 0;
}

.language {
    li {
        margin-right: 8px;
        width: 30px;
        height: auto;
    }
}

/* TITLE */
.title {
    h1 {
        font-size: 1.3rem;
        line-height: 40px;
    }
    h2 {
        font-size: 1.2rem;
        line-height: 20px;
    }
    h3 {
        font-size: 1rem;
        font-family: "True Medium",H elvetica,Arial,sans-serif;
        color: #666;
        line-height: 24px;
    }
    .banner {
        padding-top: 20px;
    }
}

.jumpmenu {
    padding: 1.5rem 0rem;
    background: #3d1f3c; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #3d1f3c 0%, #9e1d55 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #3d1f3c 0%,#9e1d55 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #3d1f3c 0%,#9e1d55 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d1f3c', endColorstr='#9e1d55',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    .callout-title {
        padding: 0.5rem 0rem;
        h2, p {
            color: white;
        }
    }
    .menu  {
        padding: 0rem 0.5rem;
        background: white;
        border-radius: 10px;
        font-size: 0.68rem;
        height: 70px;
        margin-bottom: 10px;

        img {
            height: 35px;
            width: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }

    p.title-jumpmenu {
        position: relative;
        line-height: 18px;
        top: 50%;
        transform: translate(100%,-50%);

        
    }
}

.title h3 {
    font-size: 1rem;
    font-family: "True Medium",Helvetica,Arial,sans-serif;
    color: #666;
}

.callout-title {
    padding: 1.5rem 0rem;
}

/* BUTTONS */
.truered-inverse {
    border: 3px solid #FF1717;
    border-radius: 50px;
    color: #000;
    font-family: "True Bold";
    background-color: white;
    &:hover, &:focus {
        background-color: #FF1717;
    }
}

.button-group {
    margin-top: 1.5rem;
    padding: 0.40rem;
}

.truered {
    .button {
        border-radius: 10px;
        background: #F00000;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-family: "True Bold";
        margin-right: 10px;
    }
}

.button {
    padding: 0.45rem;
    max-width: 280px;
}

/* SECTIONS */
.red-section {
   background: rgba(255,0,0,1);
background: -moz-linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(239,1,124,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,0,0,1)), color-stop(100%, rgba(239,1,124,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(239,1,124,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(239,1,124,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(239,1,124,1) 100%);
background: linear-gradient(135deg, rgba(255,0,0,1) 0%, rgba(239,1,124,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ef017c', GradientType=1 );
    padding: 3rem 0rem;
    .bundle-desc {
        padding-bottom: 0.5rem;
        h2 {
            line-height: 42px;
            color: white;
        }
        p {
//            font-size: 1.7rem;
            color: white;
        }
    }
}

/* CARDS */
.bundle-black {
    color: black;
    display: block;
    font-size: 0.68rem;
    line-height: 20px;
    margin-top: 0.4rem;
}

.bundle-red {
    color: #EA2727;
    display: block;
    line-height: 30px;
    font-size: 0.95rem;
    font-family: 'True Bold Special';
}
.card img {
    height: 50px;
    width: auto;
}

.card {
    min-height: 320px;

    .title-promo{
        min-height: 100px;
    }
}

.white-section {
    padding: 3rem 0rem;
    .white-cta {
        h2 {
            color: #F50808;
            line-height: 42px;
        }
        h3 {
            line-height: 20px;
        }
        p {
//          font-size: 2rem;
            font-family: "True Light";
            line-height: 28px;
        }
    }
}

/* TABLES */
table {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
    border-collapse: separate;

}


/* ACCORDIONS */
.accordion {
    background-color: white;
    border-radius: 30px;
    margin: 0 0.5rem;
    font-size: 0.75rem;
    li {
        .accordion-title {
            border-radius: 30px 30px 0px 0px;
            padding: 0.5rem;
            font-size: 0.7rem;
            font-family: "True Bold";
            color: #4D4D4D;
            cursor: pointer;
            &:before {
                position: relative;
                right: 0;
                font-size: 70%;
            }
        }
    }
    .accordion-content {
        border-radius: 0px 0px 30px 30px;
        p{
            color: #4D4D4D;
        }
    }
}

// over ride the default border radius when inactive
:last-child:not(.is-active)>.accordion-title {
    border-radius: 30px;
}

/* BLACKCARD PROMOTION */
    .blackcard-promo {
        background: #000;
        h3,p {
            line-height: 32px;
            color: #fff;
        }
        .accordion-title{
            background: #f5bb2e;
            border: 1px solid #f5bb5e;
        }
        :last-child:not(.is-active)>.accordion-title {
            border-bottom: none;
        }
    }


/* FOOTER */
footer {
    background-color: #eee;
    padding: 3rem 0rem;
    h2 {
        line-height: 32px;
    }
    img {
        height: 40px;
        width: auto;
    }
    .button {
        border-radius: 30px;
        padding: 0.3rem 0.4rem;
    }
}

.back-to-top {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:40px;
    height:40px;
    background-color: rgba(0,0,0,.3);
    text-indent:-9999px;
    display:none;
    border-radius:3px;
        &:hover {
            background-color: rgba(0,0,0,.5);
            }
        &:before {
            content: "\f106";
            color: white;
//            content: '^';
            }
    span {
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-7px;
        margin-top:-10px;
        height:0;
        width:0;
        border:7px solid transparent;
        border-bottom-color:#ffffff;
    }
}

/* PARTIALS */
.red-text {
    color: #EB3733;
}
.red-emphasis {
    color: #EB3733;
    font-weight: bold;
}
.info img {
    height: 20px;
}

/* TABLE */

table {

    line-height: 28px;
    vertical-align: middle;
    
    th{
        font-weight: 400;
        color: #fff;
        background: #F00000;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    th:first-child{
        border-top-left-radius: 10px;
    }
    th:last-child {
        border-top-right-radius: 10px;
    }
}




