//Custom foundation overrides for the landing page

/* IMPORT TRUE CUSTOM FONTS */
@font-face {
font-family: 'True Bold';
src: url('../fonts/TrueBold.eot');
src: url("../fonts/TrueBold.woff") format("woff"),
url('../fonts/TrueBold.svg#CrewniverseRegular') format('svg');
}

@font-face {
font-family: 'True Bold Special';
src: url('../fonts/TrueBoldSpecial.eot');
src: url("../fonts/TrueBoldSpecial.woff") format("woff"),
url('../fonts/TrueBoldSpecial#CrewniverseRegular') format('svg');
}

@font-face {
font-family: 'True Medium';
src: url('../fonts/TrueMedium.eot');
src: url("../fonts/TrueMedium.woff") format("woff"),
url('../fonts/TrueMedium#CrewniverseRegular') format('svg');
}

@font-face {
font-family: 'True Light';
src: url('../fonts/TrueLight.eot');
src: url("../fonts/TrueLight.woff") format("woff"),
url('../fonts/TrueLight.svg#CrewniverseRegular') format('svg');
}

/* HEADER */
.site-logo {
    padding: 10px 0px;
    img {
      width: 150px;
      height: auto;
    }    
}
.menu a {
    padding: 0;
}

.language {
    li {
        margin-right: 8px;
        width: 30px;
        height: auto;
    }
}

/* TITLE */
.callout-title {
    padding: 3rem 0rem;
}

/* BUTTONS */
.truered {
    border: 3px solid #FF1717;
    border-radius: 50px;
    color: #000;
    font-size: 1.7rem;
    font-family: "True Bold";
    background-color: white;
    &:hover {
        background-color: #FF1717;
    }
}

/* SECTIONS */
.red-section {
    background-color: #C22D29;
    padding: 3rem 0rem;
    .bundle-desc {
        padding-bottom: 0.5rem;
        h2 {
            line-height: 20px;
            color: white;
        }
        p {
            font-size: 1.7rem;
            color: white;
        }
    }
}

/* CARDS */
.bundle-black {
    color: black;
    display: block;
}

.bundle-red {
    color: #EA2727;
    display: block;
}
.card img {
    height: 50px;
    width: auto;
}

.white-section {
    padding: 3rem 0rem;
    .white-cta {
        h2 {
            color: #F50808;
            line-height: 42px;
        }
        h3 {
            line-height: 20px;
        }
        p {
            font-size: 2rem;
            font-family: "True Light";
            line-height: 42px;
        }
    }
}


/* FOOTER */
footer {
    background-color: #eee;
}